.sidebar{
    position: fixed;
    top: 53px;
    width: 75px;
    bottom: 0px;
    left: 0px;
    background-color: white;
    z-index: 200;
  
}
.sidebar-link{
    margin-bottom: 1px;
    left: 0px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-link img{
    height: 24px;
    padding-bottom: 5px;
    cursor: pointer;

}

.sidebar-link:hover{
    background-color: rgb(227, 227, 227);
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}